/* or 연산 */
h2, p {
  color: royalblue;
  text-align: center;
}

/* and 연산 */
b.codeit {
  color: purple;
}

/* 중첩 태그 */
li * {
  color: red;
}

/* 직속 자식인 태그만 선택 */
li > * {
  color: orange;
}

/* 모든 태그 => '*' */